.statistics__sec {
  display: block;
  width: 400px;
  height: 193px;
  background: white;
}

.title{
  display: flex;
  font-size: 30px;
  justify-content: center;
  color: grey;
}

.stat-list{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
 margin-top: 40px;
}

li{
  width: 100px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 10px;
}

.item1{
  background-color: lightblue;
}

.item2{
  background-color: lightgreen;
}

.item3{
  background-color: lightcoral;
}

.item4{
  background-color: thistle;
}

.label{
  font-size: 20px;
  margin-bottom: 5px; 
  color: white;
}

.percentage{
  font-size: 30px;
  color: white;
}
